/* Fonts */
@font-face {
    font-family: "Calibre";
    src: url(/fonts/Calibre-Regular.woff2) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Calibre";
    src: url(/fonts/Calibre-Medium.woff2) format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Calibre";
    src: url(/fonts/Calibre-Semibold.woff2) format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "SF Mono";
    src: url(/fonts/SFMono-Regular.woff2) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "SF Mono";
    src: url(/fonts/SFMono-Semibold.woff2) format("woff2");
    font-weight: 600;
}

/* Scrollbar */
html {
    scrollbar-width: thin;
    scrollbar-color: #94a3b8 transparent;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    @apply w-3;
}

html::-webkit-scrollbar-thumb {
    @apply rounded-full border-[3px] border-solid border-transparent bg-primary bg-clip-content;
}

html::-webkit-scrollbar-track {
    @apply bg-transparent;
}

svg {
    @apply fill-primary;
}
