---
import { Header, Menu, Socials, Email, Hero, About, Skills, Projects } from "components";
import "styles/globals.css";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="author" content="Agustín Arnoldi" />
        <meta
            name="description"
            content="Soy un desarrollador que busca superarse a diario. Interesado en vivir nuevas experiencias en el rubro tecnológico. Actualmente estudiando y aspirando a ser un gran programador de la nueva era."
        />
        <meta name="robots" content="index, follow" />
        <meta name="generator" content={Astro.generator} />
        <title>Agustín Arnoldi | Portfolio</title>
        <link rel="icon" href="/favicons/favicon.ico" sizes="any" />
        <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
        <link rel="mask-icon" href="/favicons/favicon.svg" color="#38bdf8" />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="theme-color" content="#ffffff" />
    </head>

    <body class="flex flex-col items-center bg-slate-800 px-6 md:px-0">
        <Header />

        <!-- Only visible for smaller devices -->
        <Menu />

        <!-- Only visible for larger devices -->
        <Socials />

        <!-- Only visible for larger devices -->
        <Email />

        <Hero />

        <About />

        <Skills />

        <Projects />
    </body>
</html>

<script type="module" defer>
    const $elems = [
        ...document.querySelectorAll("[data-navbar-button]"),
        document.querySelector("[data-hero-arrow]"),
    ];

    function scrollIntoSection(sectionId) {
        const sectionTop = document.querySelector(`#${sectionId}`).offsetTop;
        const headerHeight = document.querySelector("header").offsetHeight;

        window.scrollTo(0, sectionTop - headerHeight);
    }

    $elems.forEach($elem =>
        $elem.addEventListener("click", e =>
            scrollIntoSection(e.currentTarget.getAttribute("data-section-id"))
        )
    );
</script>
