---
import { Header, Menu, Socials, Email, Hero } from "components";
import "styles/globals.css";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta
            name="description"
            content="Soy un desarrollador que busca superarse a diario. Interesado en vivir nuevas experiencias en el rubro tecnológico. Actualmente estudiando y aspirando a ser un gran programador de la nueva era."
        />
        <meta name="generator" content={Astro.generator} />
        <title>Agustín Arnoldi | Portfolio</title>
    </head>

    <body class="flex flex-col items-center bg-slate-800">
        <Header />

        <!-- Only visible for smaller devices -->
        <Menu />

        <!-- Only visible for larger devices -->
        <Socials />

        <!-- Only visible for larger devices -->
        <Email />

        <Hero />
    </body>
</html>

<style>
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
</style>
