---
import Section from "./Section.astro";
---

<Section id="about" title="Sobre Mi" number="01">
    <article class="mx-auto grid gap-3 md:text-lg xl:grid-cols-2 xl:gap-24 2xl:gap-28">
        <div
            class="mx-auto flex max-w-lg flex-col gap-3 sm:max-w-prose md:max-w-xl lg:max-w-prose-lg xl:max-w-md xl:justify-between xl:gap-0"
        >
            <p>
                ¡Hola! Mi nombre es Agustín Arnoldi, comencé esta gran aventura a inicios de 2020 y
                está siendo increible. Siempre me agradó que otras personas puedan ver mis
                creaciones y que se les haga de utilidad.
            </p>

            <p>
                En el presente he estado analizando y estudiando una variedad de frameworks web,
                pero mi conocimiento principal se centra en Next.js por parte de la web y Python
                como mi lenguaje convencional favorito.
            </p>

            <p>
                También descubrí una gran pasión por enseñar a demás personas y transferir el
                conocimiento que tengo, así mismo fortaleciendolo indirectamente.
            </p>
        </div>

        <div
            class="mx-auto flex max-w-lg flex-col gap-5 sm:max-w-prose md:max-w-xl lg:max-w-prose-lg xl:max-w-md"
        >
            <p>
                Actualmente me encuentro en una escuela secundaria técnica, en mi último año como
                técnico de informática profesional y personal.
            </p>

            <img
                alt="Programando un menú de consola con Python en el taller."
                src="/imgs/me.webp"
                class="mx-auto w-64 rounded-sm"
            />
        </div>
    </article>
</Section>
