---
const { title, href, download, classes } = Astro.props as ButtonProps;
---

<a
    title={title}
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    download={download ? "" : false}
    class={`mx-auto [text-shadow:0px_0px_2px_#38bdf8] shadow-[0px_0px_2.5px_0px] shadow-secondary rounded border-[1px] border-secondary px-4 py-3 font-sfmono text-xs text-secondary transition-colors duration-300 hover:bg-secondary-darkest md:px-3.5 md:py-2.5 ${
        classes ? ` ${classes}` : ""
    }`}
>
    <slot />
</a>
