---
import Section from "./Section.astro";
import Button from "./Button.astro";
---

<Section id="contact" title="Contacto" number="04">
    <article class="flex flex-col gap-8">
        <p class="mx-auto max-w-md text-center sm:max-w-lg md:text-lg">
            Actualmente me encuentro en búsqueda de nuevas oportunidades, cualquier oferta será bien
            recibida. Incluso si solo querés hacerme alguna pregunta o saludarme, ¡no dudes en
            contactarme!
        </p>

        <Button title="¡Contáctame!" href="mailto:agusjkdev7@gmail.com">Contactar</Button>
    </article>
</Section>
