---
import SideColumn from "./SideColumn.astro";
---

<SideColumn orientation="right">
    <a
        href="mailto:agusjkdev7@gmail.com"
        class="font-sfmono text-xs text-slate-400 transition-all duration-300 [writing-mode:vertical-lr] hover:-translate-y-1 hover:text-sky-400"
    >
        agusjkdev7@gmail.com
    </a>
</SideColumn>
