---
import SocialIcons from "./SocialIcons.astro";
import RepositoryData from "./RepositoryData";
---

<footer class="flex animate-fade-in flex-col gap-6 pb-6">
    <!-- Only visible for smaller devices -->
    <div class="md:hidden">
        <SocialIcons />
    </div>

    <div class="flex flex-col items-center gap-2.5 font-sfmono text-xs">
        <span>Hecho con mucho cariño por Agustín Arnoldi</span>

        <RepositoryData client:only="react" />
    </div>
</footer>
