---
import Navbar from "./Navbar.astro";
---

<header
    class="fixed top-0 z-[1] grid w-full place-items-center bg-slate-800/90 py-8 backdrop-blur-[10px] md:py-10"
>
    <!-- Only visible for smaller devices -->
    <button id="menuButton" aria-label="Abrir Menu" class="md:hidden">
        <img alt="Abrir Menu" src="/imgs/menu.svg" decoding="async" fetchpriority="high" />
    </button>

    <!-- Only visible for larger devices -->
    <div class="hidden md:block">
        <Navbar />
    </div>
</header>
