---
import Navbar from "./Navbar.astro";
import { openMenu } from "data/svgs";
---

<header
    class="animate-fade-in-down fixed top-0 z-[1] grid w-full place-items-center bg-slate-800/90 py-8 backdrop-blur-[10px]"
>
    <!-- Only visible for smaller devices -->
    <button data-open-menu aria-label="Abrir Menu" class="md:hidden">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox={openMenu.viewBox}
            class="h-11 w-11 fill-slate-400"
        >
            <path d={openMenu.path}></path>
        </svg>
    </button>

    <!-- Only visible for larger devices -->
    <div class="hidden w-full md:block">
        <Navbar />
    </div>
</header>
