---
import Navbar from "./Navbar.astro";
import { openMenu } from "data/svgs";
---

<header
    class="animate-fade-in-down fixed top-0 z-[1] grid w-full place-items-center bg-slate-800/90 py-8 backdrop-blur-[10px] md:py-10"
>
    <!-- Only visible for smaller devices -->
    <button id="menuButton" aria-label="Abrir Menu" class="md:hidden">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox={openMenu.viewBox}
            class="h-11 w-11 fill-slate-400"
        >
            <path d={openMenu.path}></path>
        </svg>
    </button>

    <!-- Only visible for larger devices -->
    <div class="hidden md:block">
        <Navbar />
    </div>
</header>

<style>
    .animate-fade-in-down {
        animation: fade-in-down 1.5s 2.85s both;
        @apply md:[animation-delay:2.5s] md:[animation-duration:1.25s];
    }

    @keyframes fade-in-down {
        0% {
            opacity: 0;
            transform: translateY(-125%);
        }
        100% {
            opacity: 1;
            transform: translateY(0%);
        }
    }
</style>
