<main class="flex min-h-screen flex-col justify-center px-6 sm:px-0">
    <h3 class="animate-fade-in mb-4 font-sfmono text-sky-400">
        Hola, <span>me llamo</span>

        <h1
            class="animate-fade-in font-calibre text-4xl font-semibold leading-none text-slate-50 sm:text-5xl lg:text-6xl xl:text-7xl"
        >
            Agustín Arnoldi.
        </h1>

        <h2
            class="animate-fade-in mt-2 font-calibre text-4xl font-semibold leading-none text-slate-400 sm:text-5xl lg:text-6xl xl:text-7xl"
        >
            Construyo cosas para la web
        </h2>

        <p class="animate-fade-in mt-2 max-w-md font-calibre text-slate-400 sm:max-w-lg sm:text-lg">
            Soy un desarrollador que busca superarse a diario. Interesado en vivir nuevas
            experiencias en el rubro tecnológico. Actualmente estudiando y aspirando a ser un gran
            programador de la nueva era.
        </p>

        <div class="mx-auto mt-16 flex h-12 w-12 md:mt-24 lg:mt-28 xl:mt-32">
            <a
                href="#about"
                aria-label="Ir a Sobre Mi"
                class="animate-fade-in animate-floating [&>svg]:hover:fill-sky-400"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="rotate-180 fill-slate-400 transition-colors duration-300"
                    width="48px"
                    height="48px"
                    viewBox="0 0 50 50"
                >
                    <path
                        d="M 25 1.015625 L 14.308594 11.28125 C 14.046875 11.527344 13.9375 11.894531 14.023438 12.242188 C 14.109375 12.589844 14.375 12.867188 14.71875 12.964844 C 15.066406 13.066406 15.4375 12.972656 15.691406 12.71875 L 24 4.746094 L 24 48 C 23.996094 48.359375 24.183594 48.695313 24.496094 48.878906 C 24.808594 49.058594 25.191406 49.058594 25.503906 48.878906 C 25.816406 48.695313 26.003906 48.359375 26 48 L 26 4.746094 L 34.308594 12.71875 C 34.5625 12.972656 34.933594 13.066406 35.28125 12.964844 C 35.625 12.867188 35.890625 12.589844 35.976563 12.242188 C 36.0625 11.894531 35.953125 11.527344 35.691406 11.28125 Z"
                    ></path>
                </svg>
            </a>
        </div>
    </h3>
</main>

<style>
    h3.animate-fade-in {
        animation: fade-in 1s 0.25s both;
    }

    h3.animate-fade-in > span {
        animation: fade-in 1s 1s both;
    }

    h1.animate-fade-in {
        animation: fade-in 1s 2s both;
    }

    h2.animate-fade-in,
    p.animate-fade-in {
        animation: fade-in 2s 3s both;
    }

    a.animate-fade-in.animate-floating {
        transform: translateY(-15%);
        animation: fade-in 2.5s 3s both, floating 1.5s infinite;
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes floating {
        0% {
            transform: translateY(-15%);
        }
        50% {
            transform: translateY(15%);
        }
    }
</style>
