---
---

<main class="flex min-h-screen flex-col justify-center px-6 sm:px-0">
    <h3 class="mb-4 font-sfmono text-sky-400">Hola, me llamo</h3>

    <h1
        class="font-calibre text-4xl font-semibold leading-none text-slate-50 sm:text-5xl lg:text-6xl xl:text-7xl"
    >
        Agustín Arnoldi.
    </h1>

    <h2
        class="mt-2 font-calibre text-4xl font-semibold leading-none text-slate-400 sm:text-5xl lg:text-6xl xl:text-7xl"
    >
        Construyo cosas para la web
    </h2>

    <p class="mt-2 max-w-md font-calibre text-slate-400 sm:max-w-lg sm:text-lg">
        Soy un desarrollador que busca superarse a diario. Interesado en vivir nuevas experiencias
        en el rubro tecnológico. Actualmente estudiando y aspirando a ser un gran programador de la
        nueva era.
    </p>

    <div class="mx-auto mt-16 w-12 md:mt-24 lg:mt-28 xl:mt-32">
        <a href="#about" aria-label="Ir a Sobre Mi" class="[&>svg]:hover:fill-sky-400">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="fill-white transition-colors duration-300"
                width="50"
                height="50"
                viewBox="0 0 50 50"
            >
                <g transform="translate(0,50) scale(0.1,-0.1)">
                    <path
                        d="M240 268 l0 -222 -45 44 c-24 24 -48 40 -52 37 -4 -4 19 -33 50 -65 l57 -57 57 57 c31 32 54 61 50 65 -4 3 -28 -13 -52 -37 l-45 -44 0 222 c0 141 -4 222 -10 222 -6 0 -10 -81 -10 -222z"
                    ></path>
                </g>
            </svg>
        </a>
    </div>
</main>
