---
import Navbar from "./Navbar.astro";
import ResumeButton from "./ResumeButton.astro";
---

<aside
    id="menu"
    aria-hidden="true"
    class="fixed inset-0 z-[2] hidden translate-x-[100vw] flex-col items-center justify-around bg-slate-800/[0.975] py-20 opacity-0 transition-all duration-500 md:hidden"
>
    <button id="closeMenu" aria-label="Cerrar Menu">
        <img alt="Cerrar Menu" src="/imgs/close.svg" decoding="async" fetchpriority="high" />
    </button>

    <Navbar />

    <ResumeButton />
</aside>

<script type="module">
    const breakpoint = "768";
    const menuButton = document.querySelector("#menuButton");
    const menu = document.querySelector("#menu");
    const closeMenuButton = document.querySelector("#closeMenu");
    const menuAnchors = document.querySelectorAll(".menu-anchor");
    const mediaQuery = window.matchMedia(`(min-width: ${breakpoint}px)`);

    function toggleMenu() {
        menu.classList.toggle("hidden");
        menu.classList.toggle("flex");
        menu.classList.toggle("opacity-0");
        menu.classList.toggle("translate-x-[100vw]");
        menu.ariaHidden = menu.ariaHidden === "false" ? "true" : "false";
        document.body.classList.toggle("overflow-y-hidden");
    }

    function addListeners() {
        [menuButton, closeMenuButton, ...menuAnchors].forEach(elem =>
            elem.addEventListener("click", toggleMenu)
        );
    }

    function removeEventListeners() {
        [menuButton, closeMenuButton, ...menuAnchors].forEach(elem =>
            elem.removeEventListener("click", toggleMenu)
        );
    }

    if (document.documentElement.clientWidth < breakpoint) addListeners();

    mediaQuery.addEventListener("change", e =>
        e.matches ? removeEventListeners() : addListeners()
    );
</script>
