---
import Navbar from "./Navbar.astro";
import { closeMenu } from "data/svgs";
---

<aside
    data-menu
    class="fixed inset-0 z-[2] flex translate-x-full flex-col items-center justify-center gap-10 bg-primary-darkest/[0.975] opacity-0 transition-all duration-500 md:hidden"
>
    <button data-close-menu aria-label="Cerrar Menu">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox={closeMenu.viewBox} class="h-11 w-11">
            <path d={closeMenu.path}></path>
        </svg>
    </button>

    <Navbar />
</aside>

<script type="module">
    const breakpoint = 768;
    const mediaQuery = window.matchMedia(`(min-width: ${breakpoint}px)`);
    const $menu = document.querySelector("[data-menu]");
    const $elems = [
        document.querySelector("[data-open-menu]"),
        document.querySelector("[data-close-menu]"),
        ...document.querySelectorAll("[data-navbar-button]"),
    ];

    function toggleMenu() {
        $menu.classList.toggle("opacity-0");
        $menu.classList.toggle("translate-x-full");
        document.body.classList.toggle("overflow-y-hidden");
    }

    function handleEventListeners(matches) {
        if (matches) {
            return $elems.forEach($elem => $elem.removeEventListener("click", toggleMenu));
        }

        $elems.forEach($elem => $elem.addEventListener("click", toggleMenu));
    }

    handleEventListeners(document.documentElement.clientWidth >= breakpoint);

    mediaQuery.addEventListener("change", ({ matches }) => handleEventListeners(matches));
</script>
