---
import Navbar from "./Navbar.astro";
import ResumeButton from "./ResumeButton.astro";
import { closeMenu } from "data/svgs";
---

<aside
    id="menu"
    class="fixed inset-0 z-[2] flex translate-x-[100vw] flex-col items-center justify-around bg-slate-800/[0.975] py-20 opacity-0 transition-all duration-500 md:hidden"
>
    <button id="closeMenu" aria-label="Cerrar Menu">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox={closeMenu.viewBox}
            class="h-11 w-11 fill-slate-400"
        >
            <path d={closeMenu.path}></path>
        </svg>
    </button>

    <Navbar />

    <ResumeButton />
</aside>

<script type="module">
    const breakpoint = 768;
    const mediaQuery = window.matchMedia(`(min-width: ${breakpoint}px)`);
    const $menu = document.querySelector("#menu");
    const $elems = [
        document.querySelector("#menuButton"),
        document.querySelector("#closeMenu"),
        ...document.querySelectorAll("[data-navbar-button]"),
    ];

    function toggleMenu() {
        $menu.classList.toggle("opacity-0");
        $menu.classList.toggle("translate-x-[100vw]");
        document.body.classList.toggle("overflow-y-hidden");
    }

    function handleEventListeners(matches) {
        if (matches) {
            return $elems.forEach($elem => $elem.removeEventListener("click", toggleMenu));
        }

        $elems.forEach($elem => $elem.addEventListener("click", toggleMenu));
    }

    handleEventListeners(document.documentElement.clientWidth >= breakpoint);

    mediaQuery.addEventListener("change", ({ matches }) => handleEventListeners(matches));
</script>
