---
import Button from "./Button.astro";
import { navbarButtons } from "data";
---

<nav
    class="flex flex-col items-center gap-10 md:mx-auto md:max-w-3xl md:flex-row md:justify-around md:gap-0 lg:max-w-4xl xl:max-w-5xl"
>
    {
        navbarButtons.map(({ section, children }, i) => (
            <button
                data-navbar-button
                data-section-id={section}
                class="font-sfmono text-primary-light hover:text-secondary flex flex-col transition-colors duration-300 md:mx-auto md:flex-row md:gap-1 md:text-xs"
            >
                <span class="text-secondary mx-auto text-sm md:text-xs">
                    {`${(i + 1).toLocaleString("en-US", {
                        minimumIntegerDigits: 2,
                    })}.`}
                </span>
                {children}
            </button>
        ))
    }

    <Button title="¡Descarga mi Curriculum Vitae!" href="/arnoldi-agustin-cv.pdf" download>
        Curriculum Vitae
    </Button>
</nav>
