---
import ResumeButton from "./ResumeButton.astro";
import { navbarButtons } from "data";
---

<nav
    class="flex flex-col items-center gap-10 md:flex-row md:justify-center md:gap-10 lg:gap-12 xl:gap-20 2xl:gap-24"
>
    {
        navbarButtons.map(({ section, children }, i) => (
            <button
                id={`${section}-button`}
                class="menu-button font-sfmono flex flex-col items-center text-center text-lg font-medium text-neutral-300 transition-colors duration-300 hover:text-sky-400 md:flex-row md:items-center md:gap-1 md:text-xs"
            >
                <span class="text-sm text-sky-400 md:text-xs">0{i + 1}.</span>
                {children}
            </button>
        ))
    }

    <!-- Only visible for larger devices -->
    <div class="hidden md:block">
        <ResumeButton />
    </div>
</nav>
