<a
    title="¡Descarga mi resumen!"
    href="/agustin-arnoldi-resume.pdf"
    class="rounded border-[1px] border-sky-400 px-4 py-3 font-sfmono text-sky-400 transition-colors duration-300 hover:bg-sky-900 sm:px-3.5 sm:py-3 sm:text-xs"
    download
>
    Resumen
</a>
